.userinput
{
    margin-top: 0em;
    margin-left: 2em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
/*    display:table; */
    font-weight:normal;
}
.command
{
    font-family:Courier, monospace;
    background-color:#EEEEEE;
}
.filename
{
    font-family:Courier, monospace;
    font-style: italic;
    font-weight:bold;
}
.envar
{
    font-family:Courier, monospace;
    font-weight:bold;
}
.section h2
{
    font-size: 120%;
}
.article h1
{
    font-size: 120%;
}
.article
{
    width: 70%;
}
/*
.article p
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
*/

.article h2
{
    font-size: 100%;
}

.article h3
{
    font-size: 90%;
    margin-left: 1em;
}
