.authorhead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier;
}
.datehead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
}
.versionhead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
}

.filename
{
    font-family:Courier, monospace;
    font-style: italic;
    font-weight:bold;
    font-size: 90%;
}

.envar
{
    font-family:Courier, monospace;
    font-weight:bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.variable
{
    font-family:Courier, monospace;
    font-weight:bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.selfprogname
{
    font-family:Courier, monospace;
    background-color:#DDDDDD;
    padding: 0.1em;
}
.commandname
{
    font-family:Courier, monospace;
    background-color:#EFEFEF;
    padding: 0.1em;
}
.progname
{
    font-family:Courier, monospace;
    background-color:#EFEFEF;
    padding: 0.1em;
}
.optstyle
{
    font-family:Courier, monospace;
    font-weight:bold;
}
.argstyle
{
    font-family:Courier, monospace;
    font-style: italic;
}

.sectionname
{
    font-size: 120%;
}
.urlstyle
{
}

.section h2
{
    font-size: 120%;
}

dt.itemize
{
    float:left;
    clear:left;
    margin-right: 1em;
}

dt.description
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sectiontext
{
    margin-left: 2em;
    width: 800px;
}

pre
{
    background-color: #DCEFFF;
    padding: 0.2em 0.2em;
    font-size: 120%;
}

span, strong, em
{
    white-space: nowrap;
}

.navheader ul, .navfooter ul
{
    padding: 0 0 2em 0;
    margin: .5em 0;
}

.navheader, .navfooter
{
    position: relative;
}

.navheader li.prev, .navfooter li.prev
{
    display: block;
    float: left;
}

.navheader li.next, .navfooter li.next
{
    display: block;
    float: right;
    text-align: right;
}

.navheader li.home, .navheader li.up,
.navfooter li.home, .navfooter li.up
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navheader p, .navfooter p
{
    padding: 0;
    margin: 1px 0px;
}

li.toclevel2
{
    padding: 1em 0 0 0;
    margin-left: 0em;
}

li.toclevel4
{
    padding: 0.3em 0 0 0;
    margin-left: 2em;
}

.toc
{
    margin-top: 1em;
    margin-bottom: 2em;
}
.toc ul
{
    margin-top: 1em;
}
